.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin: 0 200px;
}

.carousel-line {
    position: relative;
    left: 0px;
    display: flex;
    column-gap: 28px;
    transition: all 0.6s;
}

.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-mobile {
       h3 {
        font-size: 3rem;
        line-height: 3px;
       }
    }
}


.carousel__link {
    transition: all 0.6s;
    text-decoration: none;
    // &:hover {
    //     -webkit-transform: scale(1.05);
    //     -ms-transform: scale(1.05);
    //     transform: scale(1.05);
    // }
}

.carousel__picture {
    border-radius: 20px;
    width: 40vw;
    height: 40vh;
}

.shelter-picture {
    background: url(../assets/img/Shelter.jpeg) 0 0/100% 100% no-repeat;
}

.momentum-picture {
    background: url(../assets/img/Momentum.jpeg) 0 0/100% 100% no-repeat;
}

.eldritch-horror-picture {
    background: url(../assets/img/Eldritch-horror.jpeg) 0 0/100% 100% no-repeat;
}

.travel-picture {
    background: url(../assets/img/Travel.jpeg) 0 0/100% 100% no-repeat;
}



@keyframes move-right {
    from {left: 0px;}
    to {left: calc(-40vw - 28px);}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}





@keyframes move-left {
    from {left: 0px;}
    to {left: calc(40vw + 28px);}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}